body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282b30;
    margin: 0;
}

.container {
    background: #1c1b1b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Add this line */
}

h1 {
    text-align: center;
    color: #ffffff;
}

.input-group, .button-group, .output-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4F4557;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #6D5D6E;
}

.github-link {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

.github-link span {
    color: #ffffff;
    font-size: 14px;
}
